# Virtual Env
venv/
chat_app_venv/
env/

# __pycache__
__pycache__/

# .pyc files
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django files and dbsqlite3 files:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Migrations
migrations/